@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,700;1,9..144,700&family=Montserrat:wght@500;700&family=Outfit:wght@300;400;700&display=swap');
:root {
    --body-bg:hsl(217, 54%, 11%);
    --card-bg:hsl(216, 50%, 16%);
    --txt-color: hsl(215, 51%, 70%);
    --body-lightbg:#ccc;
    --card-lightbg:#777;
    --txt-lightcolor:#bca987;
}
*
{
    box-sizing: border-box;
    --font-family: 'Fraunces', serif;
    --font-family-one: 'Montserrat', sans-serif;
    --font-family-two: 'Outfit', sans-serif;
}
body
{
    font-family: var(--font-family-one);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:var(--body-bg);
    flex-direction: column;
}

.card
{
  display: flex;
  align-items: center;
  justify-content: center;
  background:var(--card-bg);
  width: 90%;
  border-radius: 10px;
  box-shadow: 0 30px 30px 0 rgba(5, 5, 5, 0.2), 0 30px 50px 0 rgba(6, 6, 6, 0.19);
  margin-block: auto;
}
section {
    width:88%;
    height:94%;
    border-radius:10px;
    margin-block:6%;
}

.master-div {
    position:relative;
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows:1fr;
    border-radius:10px;
    margin:0;
    padding:0;
    width: 100%;
    height: 50vh;

}
.image-before
{
    background: url(../images/image-equilibrium.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.image-container {
    grid-column:1/2;
    grid-row:1/2;
    width:100%;
}
.image-after {
    display:flex;
    align-items:center;
    justify-content:center;
    background:rgba(0, 255, 247, 0.5);
    visibility:hidden;
    border-radius: 10px;
}
.master-div:hover .image-after {
    visibility:visible;
}
.icon{
    width:10%;
    margin:auto;
}
img.orignal-image {
    width:100%;
    height:100%;
    border-radius:10px;
} 

.text h1
{
    font-size: 17px;
    color: white;
    padding-top: 25px;
    margin: 0;
    font-family: var(--font-family-two);
}
h1:hover
{
    
    color:aqua;
    cursor: pointer;
}
.text p
{
    color: rgb(196, 194, 194);
    margin: 0;
    padding: 17px 20px 0 0;
    font-size: 14px;
}

.days
{
    display:flex;
    justify-content:space-between;
    border-bottom:1px solid  #6c819e;
}
.days div
{
    display:flex;
    align-items:center;
}
.left img
{
    margin-right: 7px;
}
.left p
{
   color: aqua;
}
.right img
{
    margin-right: 7px;
}

.right p
{
    color: #8bacd9;
}
.avatar
{
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.pic
{
    height:32px;
    width:32px;
    margin-right:2%;
}
.pic img
{
    height:32px;
    width:32px;
    border: 2px solid white;
    border-radius: 50%;
}
.text
{
    color: white;
    font-size: 15px;
}
.text a {
    color: white;
    text-decoration: none;
}
.text a:hover {
    color: aqua;
}
.labels
{
    padding-top: 20px;
    margin-bottom: 20px;
    
   
}
.attribution { font-size: 11px; text-align: center; margin-top: 7px; color: white;margin-top: 15px;
margin-bottom: 15px;}
.attribution a { color: hsl(228, 45%, 44%); }
input {
    display:none
}
label:has(.default-theme) {
    color:var(--txt-color);
    background:var(--body-bg);
    border: 2px solid var(--card-bg);
    border-radius:9px;
    padding: 15px ;
    margin-inline: 5px;
    
}
label:has(.black-theme) {
    color:white;
    background:black;
    border:2px solid white;
    border-radius:9px;
    padding: 15px ;
    margin-inline: 5px;
}
label:has(.light-theme){
    color:var(--txt-lightcolor);
    background:var(--card-lightbg);
    border:2px solid var(--body-lightbg);
    border-radius:9px;
    padding: 15px ;
    margin-inline: 5px;
}
body:has(.default-theme:checked) {
    background:var(--body-bg);
    color:var(--txt-color);
}
body:has(.default-theme:checked) .card {
    background:var(--card-bg);
}
body:has(.black-theme:checked) {
    background:rgb(25, 25, 25);
    color:white;
}
body:has(.black-theme:checked) .image-after {
    background:rgba(15, 14, 14, 0.5);
}
body:has(.black-theme:checked) .card {
    background:black;
}
body:has(.light-theme:checked) {
    background:var(--body-lightbg);
    color:var(--txt-lightcolor);
}
body:has(.light-theme:checked) .card {
    background:var(--card-lightbg);
}
body:has(.light-theme:checked) .image-after {
    background:rgb(169 181 181 / 50%);
}
@media screen and (min-width:375px) {
    .card {
        width:80%;
    }
}
@media screen and (min-width:500px) {
    .card {
        width:70%;
    }
}
@media screen and (min-width:700px) {
    .card {
        width:60%;
    }
}
@media screen and (min-width:900px) {
    .card {
        width:46%;
    }
}
@media screen and (min-width:1000px) {
    .card {
        width:40%;
    }
}
@media screen and (min-width:1200px) {
    .card {
        width:30%;
    }
}
@media screen and (min-width:1440px) {
    .card {
        width:20%;
    }
}